.list-of-bars{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}
.bar .bar-link{
    padding: 0.50em 1em;
    cursor: pointer;
    border-bottom: 0.25em solid white;
}

.bar .bar-link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.bar .bar-link:hover, .active-tab {
    background: #F5F5F5;
}