img {
    width: 25vw;
    height: 25vw;
}
.stats{
    padding: 1em;
}
.blog-url{
    color: dodgerblue;
    text-decoration: underline;
}
.title{
    font-family: "Abadi MT Condensed Light";
    font-size: 3em;
}
.winner{
    color: green;
}
.loser{
    color: red;
}